* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none !important;
}
