#DB_tab10 ul, #DB_tab10 li{list-style:none;margin:0;padding:0}
#DB_tab10 img{border:none}

#DB_tab10 {width:1300px;height:519px;position:relative;background:url('img/bg.gif')}
#DB_tab10 .DB_img{position:relative}
#DB_tab10 .DB_img li{position:absolute;width:100%;text-align:center}

#DB_tab10 .DB_menu{position:absolute;bottom:10px;width:100%;text-align:center}
#DB_tab10 .DB_menu li{display:inline;cursor:pointer;margin:0px}
#DB_tab10 .DB_dir_wrap{position:absolute;width:100%}
#DB_tab10 .DB_dir_wrap .DB_dir{position:relative;max-width:1000px/*È­ï¿½ï¿½Ç¥ï¿½ï¿½ï¿½ï¿½*/;top:131px;margin-left:1167px}
#DB_tab10 .DB_dir_wrap .DB_dir .DB_prev{position:absolute;top:2px;cursor:pointer}
#DB_tab10 .DB_dir_wrap .DB_dir .DB_next{position:absolute;left:44px;cursor:pointer}
