#d_tab35 {width:1920px;height:788px;position:relative;overflow:hidden}

#d_tab35 .img{position:relative}
#d_tab35 .img li{position:absolute;width:1920px;height:788px;display:none}
#d_tab35 .img li:first-child{display:block}

#d_tab35 .img li.l1{background:url('../img/bg_1.jpg') no-repeat 50% 0}
#d_tab35 .img li.l2{background:url('../img/bg_1.jpg') no-repeat 50% 0}
#d_tab35 .img li.l3{background:url('../img/bg_1.jpg') no-repeat 50% 0}
#d_tab35 .img li.l4{background:url('../img/bg_1.jpg') no-repeat 50% 0}

#d_tab35 .img li .d_container{position:relative;width:1000px;margin:0 auto}
#d_tab35 .img li.l1 .motion{position:absolute;left:0;top:100px}/*margin ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/
#d_tab35 .img li.l2 .motion{position:absolute;left:250px;top:100px}/*margin ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/
#d_tab35 .img li.l3 .motion{position:absolute;left:0;top:100px}/*margin ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/
#d_tab35 .img li.l4 .motion{position:absolute;left:250px;top:100px}/*margin ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½*/


#d_tab35 .btn{position:absolute;top:634px;left:1202px}
#d_tab35 .btn li{cursor:pointer;margin-bottom:13px;display:block;width:10px;height:10px;border-radius:50%;border:2px solid #666}
#d_tab35 .btn li.on{background:#fff;border:none}

